# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Check

on:
  push:
    branches: [ main, 3.0.x ]
  pull_request:
    branches: [ main, 3.0.x ]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'
      - name: Execute check
        uses: gradle/gradle-build-action@v2.2.1
        with:
          arguments: check

      - name: Publish test report
        uses: mikepenz/action-junit-report@v3.0.3
        if: always() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'

      - name: Test Summary
        uses: test-summary/action@v1
        if: always()
        with:
          paths: '**/build/test-results/test/TEST-*.xml'
