name: Publish artifacts

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Target tag of publish"
        required: true
        default: 'default'
        type: string

jobs:
  publish:
    name: Publish artifacts with Gradle
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tag }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Publish artifacts
        run: ./gradlew publish
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USER_NAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_USER_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
